* {
  font-family: 'poppins', sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos do cabeçalho*/

header {
  background-color: #000000;
}

/* BODY */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.container-perfil {
  background-color: #f1f1f1;
  margin: 0px;
  margin-top: 0px;
  padding: 10px;
  border-left: solid 2px;
  border-width: 5px;
}

.sidebar-logo {
  text-align: center;
  padding: 20px 10px;
  transition: transform 0.2s;
}

.sidebar-logo:hover {
  transform: scale(1.1);
}

.sidebar-logo img {
  width: 100px;
  height: auto;
  max-width: 80%;
  border-radius: 10px;
}


.sidebar {
  width: 300px;
  background: #ffffff;
  height: 100vh;
  position: fixed;
  border-right: 1px solid #ddd;
  padding-top: 20px;

}

.menu-item {
  padding: 15px 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  position: relative;
  font-size: 25px;
}

.menu-item:hover {
  background-color: #e9e9e9;
}

.submenu {
  position: absolute;
  top: 0;
  left: 200px;
  background: #2e2e2e;
  color: #fff;
  padding: 10px 0;
  border-radius: 8px;
  display: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  z-index: 10;
}

.submenu a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.submenu a:hover {
  background-color: #444;
}

.menu-item:hover .submenu {
  display: block;
}




/* CSS DOS ICONES */

.inicio {
  margin: 225px;
  margin-top: 10px;
  font-size: 20px;
}

/* Botões */

.inicio {
  margin-left: 350px;
}

button {
  width: 200px;
  height: 150px;
  background-color: #ddd;
  border: none;
  font-size: 18px;
  color: #000000;
  cursor: pointer;
  border-radius: 40px;
  margin: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

button:hover {
  transform: scale(1.05);
}


/* ---------- */

/* Estilo para rodapé */

footer {
  background-color: #000;
  color: #fff;
  padding-top: 50px;
}

.newsletter-footer {
  display: flex;
  justify-content: space-between;
}

.titles-newsletter h1 {
  font-weight: 16px;
}

.titles-newsletter h2 {
  font-size: 16px;
  font-weight: normal;
}

.input-newsletter {
  width: 300px;
  margin-right: 20px;
  color: #fff;
}

.input-form-newsletter input {
  margin: 0;
}


.card-footer {
  margin: 30px 0;
}

.card-footer span {
  color: #a2a6b0;
  font-weight: bold;
  font-size: 16px;
}

.card-footer p {
  font-size: 14px;
}

.card-footer a {
  color: #01a4ff;
  text-decoration: none;
}

.additional-infos-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ffffff20;
  margin-top: 50px;
}